
.piece__vertical-bar-left {
    width: 5px;
    border-radius: 0% 100% 0% 39%;
    height: 17px;
    position: absolute;
    top: -6px;
    
}
.piece__vertical-bar-left--white {
  border-top: 1px solid rgb(221 225 0);
  border-left: 1px solid rgb(221 225 0);
  background-color: yellow;
}
.piece__vertical-bar-left--black {
  border-left: 1px solid #955b00;
  border-top: 1px solid #955b00;
  background-color: #cf8600;
}

.piece__vertical-bar-mid {
  width: 6px;
  border-radius: 100% 100% 0% 0%;
  height: 17px;
  position: absolute;
  top: -6px;
  left: 7px;
}
.piece__vertical-bar-mid--white {
  border-top: 1px solid rgb(221 225 0);
  background-color: yellow;
}
.piece__vertical-bar-mid--black {
  border-top: 1px solid #955b00;
  background-color: #cf8600;
}

.piece__vertical-bar-right {
  width: 5px;
  border-radius: 100% 0% 39% 0%;
  height: 17px;
  position: absolute;
  top: -6px;
  left: 14px;
}
.piece__vertical-bar-right--white {
  border-top: 1px solid rgb(221 225 0);
  border-right: 1px solid rgb(221 225 0);
  background-color: yellow;
}
.piece__vertical-bar-right--black {
  border-right: 1px solid #955b00;
  border-top: 1px solid #955b00;
  background-color: #cf8600;
}

.piece__horizontal-bar {
  height: 5px;
  width: 16px;
  position: absolute;
  top: 7px;
  border-radius: 20%;
  left: 2px;
}
.piece__horizontal-bar--white {
  background-color: yellow;
  border-bottom: 1px solid rgb(221 225 0);
}
.piece__horizontal-bar--black {
  border-bottom: 1px solid #955b00;
  background-color: #cf8600;
}

.piece__circle {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  z-index: 3;
  position: absolute;
  top: 1px;
}
.piece__circle--black {
  background-color: rgb(171 96 0);
}
.piece__circle--white {
  background-color: rgb(235 239 0);
}
.piece__circle--1 {
  top: 1px;
}
.piece__circle--2 {
  left: 7px;
}
.piece__circle--3  {
  left: 14px;
}

.piece__shadow-bar {
  width: 2px;
  height: 10px;
  top: -3px;
  position: absolute;
}
.piece__shadow-bar--1 {
  left: 9px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.piece__shadow-bar--2 {
  border-top-right-radius: 100%;
  left: 2px;
}
.piece__shadow-bar--3 {
  border-top-left-radius: 100%;
  left: 16px;
}
.piece__shadow-bar--white {
  background-color: rgb(235 239 0);
}
.piece__shadow-bar--black {
  background-color: rgb(171 96 0);
}

