.game-preview {
    width: 700px;
    height: 100px;
    margin: auto;
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

.game-preview::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.game-preview::-webkit-scrollbar-track {
background: black;
height: 8px;
}

/* Handle */
.game-preview::-webkit-scrollbar-thumb {
background: white;
height: 8px;
}

/* Handle on hover */
.game-preview::-webkit-scrollbar-thumb:hover {
background: white;
height: 8px;
}

  .game-preview__chessboard-wrapper {
    margin-left: 20px;
    width: 150px;
    height: auto;
    transform-origin: left top;
    transform: scale(0.2);
    position: relative;
    cursor: pointer;
  }
  .game-preview__chessboard {
    transition: transform 0s linear;
    transform-style: preserve-3D;
    transform: perspective(1000px) rotateX(60deg);
    transform-origin: top;
  }


  .game-preview__label {
    color: white;
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 90px;
    margin: auto;
    margin-bottom: 20px;
  }
  .game-label__label--green {
    color: lightgreen;
  }

  .game-preview__close-game {
    color: #FD1515;
    width: 100px;
    height: 100px;
    font-size: 100px;
    z-index: 1000;
    position: absolute;
    left: 400px;
    top: 0px;
  }
  
