
@media screen and (max-width: 1010px) {
    .lobby__input {
        width: 60%;
    }
    .lobby__message-content {
        max-width: 55%;
    }
}

@media screen and (max-width: 900px) {
    .lobby__message-content {
        max-width: 80%
    }
    .lobby__input {
        width: 85%;
    }
    .game-preview {
        order: 0;
    }
    .board {
        order: 1;
    }
    .lobby {
        order: 2;
        width: 90%
    }
    .game-menu {
        order: 3;
    }
}

@media screen and (max-width: 700px) {
    .lobby__input {
        width: 80%
    }
    .lobby__message-content {
        max-width: 70%
    }
}


 @media screen and (max-width: 570px) {

    .lobby {
        width: 100%;
    }
  
    .lobby__input {
        max-width: 70%;
    }
 
   
    .board {
        width: 350px;
        height: 350px;

    }

    .win-menu {
        height: 264px;
        font-size: 20px;
    }

    .chessboard {
       width: 264px;
       height: 264px;
       margin: auto;
    }
    .chessboard__square {
        width: 33px;
        height: 33px;
    }
    .piece {
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 2px;
    }
    .piece__center {
        width: 15px;
        height: 15px;
        position: relative;
        top: 8px;
    }

    .piece__vertical-bar-left {
        width: 3px;
        height: 12px;
        top: -5px;
        left: 0px;
    }
    .piece__vertical-bar-mid {
        top: -5px;
        height: 12px;
        width: 3px;
        left: 6px;
    }

    .piece__vertical-bar-right {
        height: 12px;
        top: -5px;
        left: 11px;
        width: 3px;
    }

    .piece__horizontal-bar {
        height: 3px;
        width: 11px;
        top: 5px;
    }

    .piece__shadow-bar {
        height: 6px;
        width: 1px;
        top: -1px;
    }
    .piece__shadow-bar--1 {
        left: 7px;
    }
    .piece__shadow-bar--2 {
        left: 2px;
    }
    .piece__shadow-bar--3 {
        left: 12px;
    }
    .piece__circle {
        top: 1px;
        width: 1px;
        height: 1px;
    }

    .piece__circle--2 {
    left: 5px;
    }
    .piece__circle--3  {
    left: 10px;
    }


    .board__top-label, .board__bot-label {
        width: 264px;
    }

    .board__left-label {
        position: relative;
        left: 15px;
        width: 15px;
        margin: 0;
        font-size: 7px;
        left: 0;
    }
    .board__right-label {
        position: relative;
        right: 15px;
        width: 15px;
        margin: 0;
        font-size: 7px;
        right: 0
    }

    .board__right-label-num, .board__left-label-num {
        width: 20px;
        height: 33px;
        font-size: 30px;
    }
    .board__top-label-letter, .board__bot-label-letter {
        width: 33px;
        font-size: 30px;
    }

    .game-preview {
        height: 60px;
        width: 100%;
    }

    .game-preview__label {
        width: 200px;
        font-size: 70px;
        margin-bottom: 0;
        height: 90px;
        position: relative;
        left: 30px;
    }

    .game-preview__chessboard-wrapper {
        margin-left: 20px;
        width: 100px;
    }
    .game-preview__close-game {
        left: 220px;
    }

}

@media screen and (max-width: 420px) {
    .lobby__message-content {
        max-width: 50%;
    }
}