body {
  background-color: #000;
  height: 95vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
  width: 100%;
  margin: auto;
}

.app {

  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.app__input-name {
  width: 300px;
  height: 100px;
  color: white;
  text-align: center;
  margin: auto;
}

.board {
  width: 510px;
  height: 520px;
  margin: auto;
}




.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
