.connect-menu {
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    margin: auto;
    font-size: 30px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
}

.connect-menu:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}