body {
  background-color: #000;
  height: 95vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
}

.app {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app__input-name {
  width: 300px;
  height: 100px;
  color: white;
  text-align: center;
  margin: auto;
}
.app__name-error {
  color: red;
}
.board {
  width: 510px;
  height: 520px;
  margin: 0;
  
}




.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
